html {
    box-sizing: border-box;
}
*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(7, 25, 65);
}

.wrapper {
    width: 600px;
    text-align: center;
    border-radius: 10px;
    box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.22);
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
}
.wrapper h1 {
    font-size: 35px;
    letter-spacing: 1.1px;
    color: rgb(14, 42, 85);
    font-family: 'Lilita One', cursive;
}
.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
.checkbox-wrapper {
    display: flex;
    flex-direction: column;
}
label {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.controller {
    width: 32px;
    height: 32px;
    display: inline-block;
    background-color: #fff;
    border: 1px solid #0B0B0B;
    border-radius: 5px;
}
.content {
    font-weight: bold; 
    color: #0B0B0B;
    font-family: cursive;
    font-size: 24px;
    margin-left: 15px;
}
label input:disabled + .controller {
    border: 1px solid #ccc;
}
label input:disabled ~ .content {
    color: #ccc;
}
label:nth-child(1) input:checked + .controller {
    background: url('img/table-tennis.png') center no-repeat;
}
label:nth-child(2) input:checked + .controller {
    background: url('img/basketball-ball.png') center no-repeat;
}
label:nth-child(3) input:checked + .controller {
    background: url('img/volleyball-ball.png') center no-repeat;
}
label:nth-child(4) input:checked + .controller {
    background: url('img/hockey-puck.png') center no-repeat;
}
label input:checked:disabled + .controller {
    opacity: 0.5;
}
label input:focus + .controller {
    box-shadow: 0 0 0 2px #0e85f3;
}
.dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.dialog-bar {
    width: 819px;
    height: 231px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
}
.dialog-bar div {
    display: flex;
    justify-content: flex-end;
}
.dialog-bar div button {
    border: none;
    background-color: #fff;
}
.dialog-bar div button:focus {
    outline: none;
}
.dialog-bar div button img {
    display: block;
}
.dialog-bar>p {
    width: 678px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    color: #295093;
    font-family: 'Rubik', sans-serif;
}
.dialog-bar a {
    padding: 12px 20px;
    width: 223px;
    margin: auto;
    background: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
    border-radius: 5px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.dialog-bar a img {
    margin-right: 10px;
}
.dialog-bar a p {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
}
.dialog-close {
    display: none;
}
